.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #242444;
  height: 100vh;
  width: 100vw;
}

.App-header {
  font-size: calc(10px + 2vmin);
  font-family: "Castillo";
  font-weight: bold;
  color: #ababab;
  width: 80vmin;
  height: 5vh;
  color: #2424aa;
}
.heading{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
.body-container{
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 90vw;
}
.input-fields{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  width: 50%;
  height: 80vh;
  gap: 10px;
}
.inputs{
  height: 30px;
  width: 50%;
  border: none;
  background-color: #444485;
}
.output-fields{
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 80vh;
}
#canvas{
 // scale: 0.2;
  margin: 0px;
}
.downloadButton{
  color: #ababab;
  background-color: #444485;
  width: 80%;
  height: 40px;
  margin-top: 10px;
}
@media screen and (max-width: 724px){
  .body-container{
    flex-direction: column;
  }
  .input-fields{
    width: 100%;
  }
  .output-fields{
    width: 100%;
  }
}